.champions_list {
    padding-top: 1%;
    .champion {
        width: 7%;
        display: inline-block;
        text-align: center;
        &__image {
            border: 4px solid #d7bd33;
        }
        &:hover {
            cursor: pointer;
            filter: brightness(80%);
            transform: scale(1.2);
        }
    }
}